<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}TRAINME{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <section id="login">
            <div class="container">
                <div class="col-xs-12">
                    <div class="text-center">
                        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}" alt="" id=""></a>
                    </div>
                    <div class="form-wrap">
                        <h1>Accede con tu nombre de usuario!</h1>
                        <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                            <div class="form-group">
                                <label for="email" class="sr-only">Usuario</label>
                                <input type="text" name="email" id="email" class="form-control" placeholder="Usuario">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Contraseña</label>
                                <input type="password" name="key" id="key" class="form-control" placeholder="Contraseña">
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Entrar">
                        </form>

                        <hr>
                        </div>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.container -->
        </section>
            <footer id="footer">
                <div class="container">
                    <div class="col-xs-12">
                        <p>TrainMe© - 2017</p>
                        <p>Powered by <strong>Ximo Gil 2º DAW</strong></p>
                    </div>
                    </div>
                </div>
            </footer>
        </form>
        </div>

    </body>
</html>